.splash {
  height: 100dvh;
  padding: var(--spacing-50);
  position: fixed;
  inset: 0;
  z-index: 251;
  background-color: var(--color-bg);
  transition: transform 0.4s ease;
  &.is-collapsed {
    // display: none;
    transform: translateY(-100%);
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    .logo-animated {
      flex-shrink: 0;
      .logo a {
        height: 85px;
        display: block;
      }
    }
  }
}
